

# Python (for lint)
*.pyc

yolo_venv/


sensor_data/rgbd_dataset_freiburg1_360
sensor_data/rgbd_dataset_freiburg2_360_hemisphere
sensor_data/rgbd_dataset_freiburg1_xyz
sensor_data/rgbd_dataset_freiburg1_plant_secret
sensor_data/rgbd_dataset_freiburg1_plant/
sensor_data/rgbd_dataset_freiburg1_room/
sensor_data/Replica/
sensor_data/Replica.zip

mlp_results/


install/
log/
devel/
logs/
build/

# Large ros bag files
data/

*.ply

*__pycache__/

*tash list

